<div class="container">
  <div class="item">
    <div class="balance-card">
      <app-card
        [cardImage]="'../assets/icons/icon-hand.png'"
        [cardTitle]="'Saldos Disponíveis'"
        [cardTitleValue]="'R$ 100,00'"
      >

        <div class="content-item divider" *ngFor="let item of balanceItems">
          <p>{{ item.label }}</p>
          <p>{{ item.amount }}</p>
        </div>

        <div class="balance-card__content-summary">
          <div class="content-item" *ngFor="let item of balanceSummary">
            <p>{{ item.label }}</p>
            <p>{{ item.amount }}</p>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  <div class="item">
    <div class="credit-card">
      <app-card
        [cardImage]="'../assets/icons/icon-credit-card.png'"
        [cardTitle]="'Cartão de Crédito'">

        <div class="content-item">
          <p>123456789011 <br> Kuririn Teobaldo Cordeiro</p>
          <p>MASTER CARD</p>
        </div>
        <div class="content-item divider">
          <p>Limite de Compra</p>
          <p>R$ 1000,00</p>
        </div>

        <div class="content-item"
        *ngFor="let item of creditItems; let i = index; let last = last"
        [class.divider]="isDivider(i, last)">
          <p>{{ item.label }}</p>
          <p>{{ item.amount }}</p>
        </div>
      </app-card>
    </div>
  </div>
  <div class="item">
    <div class="debit-card">
      <app-card
        [cardImage]="'../assets/icons/icon-debit-card.png'"
        [cardTitle]="'Cartão de débito'">

        <div class="content-item">
          <p>Este cliente não possui Cartão de Débito</p>
        </div>
      </app-card>
    </div>
  </div>
  <div class="item">
    <div class="client-infos-card">
      <app-card
        [cardImage]="'../assets/icons/icon-client.png'"
        [cardTitle]="'Informações do Cliente'">
      </app-card>
    </div>
  </div>
</div>
